<!doctype html>
<html>

<head>
  <title>Socket.IO chat</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }


    form {
      background: #000;
      padding: 3px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    form input {
      border: 0;
      padding: 10px;
      width: 90%;
      margin-right: .5%;
    }

    form button {
      width: 9%;
      background: rgb(130, 224, 255);
      border: none;
      padding: 10px;
    }

    #messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    #messages li {
      padding: 5px 10px;
    }

    #messages li:nth-child(odd) {
      background: #eee;
    }
  </style>
</head>


<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  $(function () {
    var socket = io();
    var users = [];
    $('form').submit(function () {
      socket.emit('chat', $('#m').val());
      $('#m').val('');
      return false;
    });
    socket.on('chat', function (msg) {
      $('#messages').append($('<li>').text(msg));
      window.scrollTo(0, document.body.scrollHeight);
    });

    socket.on('user', function(data){
      console.log('in user');
      console.log(data.user);
      users.push(data.user);
    });
    var div = document.getElementById('onlineUsers');

    // say that fruits contains all your data
    
      ul = document.createElement('ul'); // create an arbitrary ul element

    // loop through the fruits array
    for (var i in users) {
      // create an arbitrary li element
      var li = document.createElement('li'),
        content = document.createTextNode(users); // create a textnode to the document

      li.appendChild(content); // append the created textnode above to the li element
      ul.appendChild(li); // append the created li element above to the ul element
    }

    div.appendChild(ul); // finally the ul element to the div with an id of placeholder

  });

</script>

<body>
    <div id="onlineUsers">
      </div>
  <ul id="messages"></ul>
  <form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
  

</body>

</html>